/* Common */

@media (min-width: 1023px) {
  .c__hide-dt {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 1022px) {
  .c__hide-tb {
    display: none;
  }
}
@media (max-width: 766px) {
  .c__hide-mb {
    display: none;
  }
}
