.social_plus_login {
  text-align: center;
  min-width: 240px;
}

.social_plus_login li {
  display: inline-block;
  padding: 5px 0;
  width: 100%;
}

.social_plus_login i {
  display: inline-block;
  width: 240px;
  height: 40px;
}

.social_plus_login i:before {
  display: none;
}

.social_plus_login .icon-facebook {
  background: url(../images/icon-facebook.jpg);
}

.social_plus_login .icon-twitter {
  background: url(../images/icon-twitter.jpg);
}

.social_plus_login .icon-yahoo {
  background: url(../images/icon-yahoo.jpg);
}

.social_plus_login .icon-line {
  background: url(../images/icon-line.jpg);
}